<%- include ('../partials/header'); -%>
<a class="buttonDes" href="/profile/<%=user._id%>/order">Orders</a>
<a class="buttonDes" href="/profile/<%=user._id%>/settings">Settings</a>
<a class="buttonDes" href="/cart">Cart</a>
<%- include ('../partials/footer'); -%>
