<%- include ('../partials/header'); -%>

<div class="padding5">

<p class="pStyle">
Please choose your payment option.</p>
<br>
<a href="/checkout"><img referrerpolicy="origin" src = "https://badges.razorpay.com/badge-dark.png " style = "height: 55px; width: 120px;" alt = "Razorpay | Payment Gateway | Neobank"></a>
<br>
<a class="buttonDes" href="/cashd">Cash on delivery</a>

</div>

<%- include ('../partials/footer'); -%>
