<%- include ('../partials/header'); -%>
<p style="font-family: 'Manrope', sans-serif; padding-left: 10px;">Thank you for shopping with us. We have received your order. We will deliver your order very soon. You can check the order in your profile.</p>
<%- include ('../partials/footer'); -%>
