<%- include ('./partials/header'); -%>

<div class="about1">

<p>The primary aim of craftkaar is to promote and revolutionize Indian domestic handicrafts.
    Most of the products we represent are handmade.
    One can get the gist of the theme we represent by going through our products.
    The target audience is someone who is looking for 'that' particular way of life.
</p>

<p class="pStyle">Call us at: 7000530586</p>
<p class="pStyle">Address: Gilbert Hill, Azad Nagar, Gaondevi Dongri, Andheri West, Mumbai, Maharashtra, 400047, India</p>
<p class="pStyle">Write us @ info@craftkaar.com</p>



<p class="pStyle">find us over <a href="https://www.instagram.com/craftkaar7/"><span><i style="color:#E1306C" class="fab fa-instagram"></i></span></a> <a href="https://wa.me/917000530586" style="text-decoration:none;"> <span ><i style="color:#25D366;" class="fab fa-whatsapp"></i></span></a> <a href="https://www.facebook.com/profile.php?id=100077060732531" style="text-decoration:none;"> <span> <i style="color:#4267B2;" class="fab fa-facebook"></i></span></a> <a href="#" style="text-decoration:none;"> <span><i style="color:#00acee;" class="fab fa-twitter"></i></span> </a> <a href="#" style="text-decoration:none;"><span> <i style="color:#E60023;" class="fab fa-pinterest"></i></span></a> <a href="#" style="text-decoration:none;"><span> <i style="color:#0e76a8;" class="fab fa-linkedin"></i></span></a><a href="#" style="text-decoration:none;"><span> <i style="color:#6C7878;" class="far fa-envelope"></i></span></a></p>


<a href="https://razorpay.com/" target="_blank"> <img referrerpolicy="origin" src = "https://badges.razorpay.com/badge-dark.png " style = "height: 55px; width: 120px;" alt = "Razorpay | Payment Gateway | Neobank"></a>

<a style="padding-left:10%" href="https://craftkaar.com/termsandconditions">Terms and conditions</a>

<a style="padding-left:10%" href="https://craftkaar.com/privacypolicy">Privacy policy</a>

<a style="padding-left:10%" href="https://craftkaar.com/returnpolicy">Return policy</a>

</div>

<%- include ('./partials/footer'); -%>
