<div class="padding5">

<form class="" action="/reset/<%=token%>" method="post">
  <label for="password"></label>
  <input class="input1" type="password" name="password" value="" placeholder="new password" onkeydown="texx(this);" onkeyup="texx(this);">

  <label for="confirm"></label>
  <input class="input1" type="password" name="confirm" value="" placeholder="confirm password" onkeydown="texx(this);" onkeyup="texx(this);">

  <button class="input2" type="submit" >Update password</button>

</form>

</div>