<%- include ('./partials/header'); -%>

<div class="padding12">

<h1 class="type1">sign up</h1>

<form action="/signup" method="post">
  <input class="input1" type="email" name="username" placeholder="email" onkeydown="texx(this);" onkeyup="texx(this);" required>
  <input class="input1" type="password" name="password" placeholder="password" onkeydown="texx(this);" onkeyup="texx(this);" required>
  <input class="input1" type="text" name="name" placeholder="Name" onkeydown="texx(this);" onkeyup="texx(this);">
  <input class="input1" type="number" name="mobile" placeholder="Mobile" onkeydown="limit(this);" onkeyup="limit(this);">
  <input class="input1" type="text" name="addline1" placeholder="Address line one" onkeydown="texx(this);" onkeyup="texx(this);">
  <input class="input1" type="text" name="addline2" placeholder="Address line two" onkeydown="texx(this);" onkeyup="texx(this);">
  <input class="input1" type="text" name="city" placeholder="City" onkeydown="texx(this);" onkeyup="texx(this);">
  <input class="input1" type="Number" name="zipcode" placeholder="Zipcode" onkeydown="limitt(this);" onkeyup="limitt(this);">
  <select class="input1" name="state" size="1" placeholder="Country">
    <option value="Andaman and Nicobar" selected>Andaman and Nicobar</option>
    <option value="Andhra Pradesh">Andhra Pradesh</option>
    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
    <option value="Assam">Assam</option>
    <option value="Bihar">Bihar</option>
    <option value="Chandigarh">Chandigarh </option>
    <option value="Chhattisgarh">Chhattisgarh</option>
    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
    <option value="Daman and Diu">Daman and Diu</option>
    <option value="Delhi">Delhi</option>
    <option value="Goa">Goa</option>
    <option value="Gujarat">Gujarat</option>
    <option value="Haryana">Haryana</option>
    <option value="Himachal Pradesh">Himachal Pradesh</option>
    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
    <option value="Jharkhand">Jharkhand</option>
    <option value="Karnataka">Karnataka</option>
    <option value="Kerala">Kerala</option>
    <option value="Lakshadweep">Lakshadweep</option>
    <option value="Madhya Pradesh">Madhya Pradesh</option>
    <option value="Maharashtra">Maharashtra</option>
    <option value="Manipur">Manipur</option>
    <option value="Meghalaya">Meghalaya</option>
    <option value="Mizoram">Mizoram</option>
    <option value="Nagaland">Nagaland</option>
    <option value="Orissa">Orissa</option>
    <option value="Puducherry">Puducherry</option>
    <option value="Punjab">Punjab</option>
    <option value="Rajasthan">Rajasthan</option>
    <option value="Sikkim">Sikkim</option>
    <option value="Tamil Nadu">Tamil Nadu</option>
    <option value="Tripura">Tripura</option>
    <option value="Uttar Pradesh">Uttar Pradesh</option>
    <option value="Uttarakhand">Uttarakhand</option>
    <option value="West Bengal">West Bengal</option>
  </select>
  <select class="input1" name="country" size="1" placeholder="Country">
    <option value="India" selected>India</option>
  </select>
  <button class="input2">Sign Up</button>
</form>

<h1 class="type1">Already a user? Click <a class="type2" href="/signin">here</a>.</h1>

</div>
<%- include ('./partials/footer'); -%>
