<%- include ('../partials/header'); -%>

<div class="padding5">

<p class="pStyle">Enter your email</p>
<form action="/return" method="post">
<input class="input1" type="email" name="email" placeholder="Enter your email" onkeydown="texx(this);" onkeyup="texx(this);" required>
<button class="buttonDes">Submit</button>
</form>

</div>

<%- include ('../partials/footer'); -%>
